.container {
  position: relative;
}
.header > .container {
  position: static;
}
.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.align-right {
  text-align: right;
}
.productViewRow {
  overflow-x: hidden;
}
.reviews a {
  font-size: 11px;
  color: grey;
  text-decoration: underline;
}
.thumbnail {
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  border: 1px solid #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.thumbnail.active {
  position: relative;
}
.thumbnail.active:after {
  content: '';
  width: 60px;
  height: 3px;
  background: #00aaff;
  position: absolute;
  bottom: -6px;
  left: -1px;
}
.strikethrough {
  text-decoration: line-through;
}
p.currentStyle {
  background: #efefef;
  padding: 5px;
  font-size: 12px;
}
.productDetails .price {
  font-size: 14px;
}
.productDetails h2.title {
  margin: 3px 0 10px;
  padding: 0;
  font-size: 24px;
}
.productDetails .category {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 10px;
}
.productDetails .rating {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 10px;
}
.mainImage img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}
.englargedContainer {
  width: 100%!important;
  max-width: 100%!important;
}
.thumbnails {
  height: 500px;
  overflow: hidden;
  margin-top: 15px;
}
.imageContainer .arrow {
  position: absolute;
  left: 37px;
  font-size: 25px;
  margin-left: 18px;
}
.imageContainer .arrow-down {
  bottom: 0;
  margin-bottom: -17px;
}
.imageContainer .arrow-up {
  top: -15px;
}
.productDescription {
  margin-top: 40px;
  color: #3c3c3c;
  max-width: 800px;
  margin: 40px auto 0;
}
.productDescription p {
  font-size: 14px;
}
.productDescription h4 {
  font-size: 19px;
}
.description-body {
  border-right: 2px solid #d8d8d8;
}
.search-col {
  margin-right: 20px;
}
.header .fa-search {
  margin-left: 10px;
}
.header input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.mainImage {
  margin: 15px 0;
}
.mainImage img {
  position: relative;
}
i.fa.fa-arrow-left, i.fa.fa-arrow-right {
  font-size: 20px;
  z-index: 2;
  position: absolute;
  top: 250px;
  cursor: pointer;
  color: #fff;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5d5d5d;
}
i.fa.fa-arrow-left {
  left: 27px;
}
i.fa.fa-arrow-right {
  right: 27px;
}
.feature p {
  font-size: 12px;
}
.smallImg, .mainImage {
  height: 500px!important;
}
.styleGrid .style {
  cursor: pointer;
  font-size: 9px;
  text-align: center;
  margin-bottom: 20px;
}
span.styleName {
  height: 21px;
  line-height: 1;
  display: block;
}
.styleThumb {
  position: relative;
  width: 65px;
  height: 65px;
  margin: 0 auto;
}
.style img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 65px;
  border: 2px solid #fff;
  display: block;
  background: #b5b5b5;
}
span.activeStyle {
  display: none;
}
.style.active .activeStyle {
  display: block;
  position: absolute;
  right: 0;
  margin-right: -4px;
  font-size: 13px;
  padding: 2px;
  background: #fff;
  border-radius: 100%;
  line-height: 0;
  border: 2px solid #000;
}
.style.active img {
  border-color:#000;
}
.styleRow.row {
  margin: 0;
  width: 100%;
}
.viewBag {
  margin-top: 20px;
  font-size: 12px;
}
.cart .modal-title.h4 {
  font-size: 18px;
  font-weight: lighter;
}
.cartRow h5 {
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 1px solid #000;
}
.cartRow p {
  margin-bottom: 0;
  font-size: 14px;
}
.cartRow {
  margin-bottom: 20px;
}
.errorContainer {
  height: 10px;
}
.errorMessage {
  font-size: 12px;
  background: #ffdddd;
  padding: 2px 5px;
  display: block;
}
p.expand {
  position: absolute;
  right: 19px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5d5d5d;
  font-size: 23px;
}
.imageContainer {
  transition: .25s;
}
.imageContainer.col-md-8.expanded {
  left: 0;
  width: 100%;
  z-index: 1;
  max-width: 100%;
  flex: 0 0 100%;
  transition: .25s;
}
.expanded + .details-col {
  flex: 0 0 100%!important;
  max-width: 100%;
  text-align: center;
}
.expanded + .details-col .styleRow.row {
  margin: 0 auto;
}
.expanded.imageContainer .arrow {
  left: 70px;
}
.expanded .mainImage img {
  width: 100%;
  height: 100%;
}
.soldOut.btn-primary {
  background-color: #8c8c8c;
  border-color: #989898;
  cursor: not-allowed;
}
.social {
  margin-left: 0px;
  display: inline-block;
}
.social button {
  margin: 0 10px 20px 0;
  display: inline-block;
}
.productDetails .MuiRating-readOnly {
  vertical-align: sub;
}
i.fa.fa-shopping-bag {
  margin-left: 20px;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
}
span.bag-qty {
  font-size: 10px;
  background: #00aaff;
  color: #fff;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  position: absolute;
  padding: 0px 4px;
  line-height: 1.3;
  bottom: 0;
  margin-left: -5px;
}
.removeItem {
  font-weight: bold;
  color: #414446;
  text-align: center;
  cursor: pointer;
}
.removeItem:hover {
  color: black;
}
.details-col {
  position: static;
}
.shoppingBag {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -96px;
}
span.addSuccess.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 600ms, opacity 600ms;
}
span.addSuccess {
  opacity: 1;
  background: #3fc13f;
  display: block;
  margin-top: 5px;
  font-size: 12px;
  padding: 1px 4px;
  color: #fff;
  transition: 500ms;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.addSuccess .view {
  text-decoration: underline;
  cursor: pointer;
}

@media(max-width: 1199px) {
  .styleThumb {
    width: 50px;
    height: 50px;
  }
}
@media(max-width: 991px) {
  span.styleName {
    height: 29px;
  }
}
@media(max-width: 767px) {
  .thumbnail-nav {
    display: none;
  }
  .thumbnails {
    height: auto;
  }
  .thumbnails .thumbnail {
    display: inline-block;
    margin-right: 9px;
  }
  span.styleName {
    height: 14px;
  }
}

