.dropdown {
  display: inline-block
};
hr.solid {
  border-top: 3px solid black
}
.review-title{
  margin-top: 10px;
  font-size: 18px;
}
#response {
background-color: rgba(120, 120, 120, 0.1)
}
div#reviewsContainer {
  overflow-wrap: break-word;
}
.rating-average, .rating-average > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 35px;
}

#modal {
  display: inline;
  margin-left: 5px;
}