.dropdown {
  display: inline-block
};

#reviewsContainer{
  
}

.reviewsList {
  overflow: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

hr.solid {
  border-top: 3px solid #bbb;
}

#response {
background-color: rgba(120, 120, 120, 0.1)
}
